body {
    font-family: Arial, sans-serif;
    background-color: #F4F1DE;
}

/* Estilos para el encabezado principal */
.headerprincipal {
    position: relative;
    width: 100%;
    background-color: #2B2D42;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el logo */
.logo {
    width: 4vw;
    height: auto;
    border-radius: 5px;
    transition: 0.5s ease-in-out
}

/* Estilos para la barra de navegación */
.navCris {
    display: flex;
    justify-content: space-between; /* Distribuir elementos de manera uniforme */
    align-items: center;
    z-index: 99;
    background-color: #2B2D42; /* Mismo color de fondo que el encabezado */
    padding: 10px 20px; /* Espaciado interno */
}

/* Estilos para la barra de búsqueda */
.search-bar {
    display: flex;
    justify-content: space-between;
}

.searchInput1 {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
}
#button {
    position: relative;
    cursor: pointer;
    color: white;
    padding: 8px;
    font-size: 20px;
    align-items: center;
}
.icon2{
    color: black;
    position: relative;
    cursor: pointer;
}
.container-suggestions{
    display: none;
}
/* Estilos para los elementos de navegación */
.mi-nav {
    list-style: none;
    display: flex;
    background-color: #2B2D42;
}

.mi-nav li {
    margin-right: 20px;
    position: relative;
}

/* Estilos para las imágenes de los íconos de navegación */
.mi-nav img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.mi-nav:hover .carrito {
    color: #E07A5F;
}

/* Estilos para el botón de búsqueda */
.Buttonsearch {
    background-color: #81B29A;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
}

/* Estilos para el carrito de compras */
   

/* Estilos para los enlaces del menú de navegación */
.mi-nav a {
    color: #81B29A;
    text-decoration: none;
    font-weight: bold; /* Añadir negrita */
}

.mi-nav a:hover {
    color: #E07A5F;
}

/* Estilos para los encabezados de sección */
.section-header2 a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente más limpia y moderna */
    font-size: 18px; /* Tamaño de fuente ajustado */
    color: white; /* Color de texto más oscuro */
}

/* Sección a cargo de Maleja (Contenido Principal) */
#home {
    position: relative; 
    margin-top: 30px
    /* Esto es esencial para el posicionamiento absoluto de los hijos */
}

.mimain_titulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #E07A5F;
    position: absolute;
    top: -23%;
    /* Ajusta según lo necesario */
    left: 5%;
    /* Ajusta según lo necesario */
    margin-left: 34%;
    margin-top: 10%;
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 2px 2px #3D405B;
    transition: 0.5s ease-in-out
}

.mimain_foto {
    width: 100%;
    align-items: center center;
    background-color: #F4F1DE;
    border-radius: 40%;
    border-style: inset;
    border-color: #F2CC8F;
    margin-top: -12px;
    z-index: 0;
}


.mimain_parrafo {
    position: absolute;
    align-items: center;
    margin: 15%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 29%;
    font-size: 135%;
    color: #3D405B;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.mimain_parrafo:hover {
    transform: scale(1.1);
}

.mimain_titulo:hover {
    transform: translateY(15%);
}


/* Sección a cargo de Juanes (Artículos) */

#Products {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #E07A5F;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 2px 2px #3D405B;
    transition: 0.5s ease-in-out;
}

.juan-hr3{
    height: 30%;
    width: 65%;
    text-align: center;
    margin-left: 230px;
    border:2px solid #3D405B;
}

#Products:hover{
    transform: scale(1.1);
    transform: translateY(15%);
}

.contenedor {
    margin: 5px;
    padding: 30px;
    text-align: center;
}

.juan-perro,
.juan-gato {
    margin-left: auto;
    margin-right: auto;
}


.juan-perro,
.juan-gato {
    display: inline-block;
    /* Esto es esencial para que se alineen horizontalmente */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid black;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    background-color: #F2CC8F;
    transition: all 0.5s ease-in-out;
    
}


.juan-perro {
    margin-right: 30px;
}

.juan-gato {
    margin-left: 30px;
}

.juan-perro:hover,
.juan-gato:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    color: white;
    background-color: #E07A5F;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px black;
    transform: translateY(2%);
}

.juan-perro img,
.juan-gato img {
    transition: all 0.5s ease;
}

.juan-perro:hover img,
.juan-gato:hover img {
    transform: scale(1.1);
}

.juan-p {
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.juan-perro a,
.juan-gato a {
    background-color: #81B29A;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.juan-perro:hover img{
    transform: scale(1.1);
}

.juan-perro img{
    transition: all 0.5s ease;
}

.juan-gato:hover img{
    transform: scale(1.1);
}

.juan-gato img{
    transition: all 0.5s ease;
}

.juan-gato:hover a{
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.juan-perro:hover a{
    border-radius: 20px;
    transition: all 0.5s ease-in-out
}

.contenedor{
    display: flex;
}

article hr{
    border: 2px solid;
    margin: 7px;
    border-radius: 4px;
}

article hr.juan-hr{
    width: 65%;
    text-align: center;
    margin-left: 17%;
}

article hr.juan-hr2{
    width: 72%;
    text-align: center;
    margin-left: 14%;
    
}

/* Sección a cargo de Daniel (Tablas) */

#Promotions {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #E07A5F;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 2px 2px #3D405B;
    transition: 0.5s ease-in-out;
}

#Promotions:hover{
    transform: scale(1.1);
    transform: translateY(15%);
}

.After-part{
    font-size: large ;
}
.button-table{
    background-color: #F2CC8F; 
    color: black; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
    display: inline-block;
    cursor: pointer;
}
.button-table:hover {
    background-color: #E07A5F; 
}
.table-container {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    border: none;
    border-radius: 2px;
    z-index: -1;
}

.promotion-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #E07A5F;
    border-radius: 2px;
    z-index: -1;
}

.promotion-table th,
.promotion-table td {
    padding: 17px;
    text-align: center;
    border: 2px solid #E07A5F;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.promotion-table th {
    background-color: #F2CC8F;
    font-size: 20px;
    border: 3px solid #3D405B;
    margin-top: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.promotion-table td img {
    max-width: 100px;
    border: 5px solid #3D405B;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.promotion-table:hover td img{
    transform: translateY(7%);
}

.d-img{
    margin-top: 14px;
    text-align: center;
}

.promotion-table td p {
    font-size: 16px;
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*-----Css Popups------*/
  
  .modalD-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease;
    z-index: 99;
  }
  
  
  .show {
    pointer-events: auto;
    opacity: 1;
  }
  
  
  .modalD {
    background-color: #F2CC8F;
    width: 600px;
    max-width: 100%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  
  .modalD h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  
  .modalD p {
    font-size: 18px;
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  
  .close1 {
    background-color: #3D405B;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 100px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.3s ease;
    justify-content: space-around; 
    z-index: 2;
  }

  .comprarahora {
    background: #3D405B;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    border: none;
    margin-left: 240px;
    padding: 10px 20px;
    color: azure;
    font-size: 16px;
    position: relative;
    border-radius: 5px;
    z-index: 2;
  }

    .comprarahora:hover:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;

    }

    
    @keyframes glowing {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
    
  .close1:hover {
    background-color: #E07A5F;
  }

  .popupimg {
    max-width: 100px;
    border: 5px solid #3D405B;
    border-radius: 5px;
    transition: all 0.5s ease;
  }

  .Buttons {
    background: #F2CC8F;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    border: none;
    color: black;
    font-size: auto;
    font-weight: bold;
    position: relative;
    border-radius: 5px;
    padding-top: 10px;
  }

  .Buttons:hover {
    color: #E07A5F;    
  }

  .input1{
    background: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    border: 2px outset #3D405B;
    color: black;
    border-radius: 3px;
    max-width: 50px;
  }

/* Footer */

.mi-footer {
    height: 300px;
    background-image: url('img/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #3D405B;
}

.mi-footer p {
    text-align: center;
    font-size: 30px;
    color: #E07A5F;
    padding-top: 20px;
    margin: 0;
}

.foot_nav {
    text-align: center;
    margin: 15px;
    padding-top: 85px;
}

.social-btn {
    display: inline-block;
    margin: 0 10px;
    background-color: #E07A5F;
    color: #fff;
    width: 60px;
    /*Ajustasegúnlonecesario*/
    height: 60px;
    /*Ajustasegúnlonecesario*/
    /*padding:15px;
    */
    line-height: 60px;
    /*Estodeberíaserigualalaalturaparacentrarverticalmenteelícono*/
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    /*padding-left: 80px;
    */
    text-align: center;
    font-size: 30px;
    transition: background-color 0.3s;
    margin-bottom: 55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
}

.show1 {
    pointer-events: auto;

  }
  
.social-btn:hover {
    background-color: #554;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F4F1DE;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 80%;
    max-width: 500px;
    border: 2px solid #3D405B;
    border-radius: 10px;

}

.close {
    float: right;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #E07A5F;
    background-color: #3D405B;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transition: background-color 0.3s;
}

.close:hover {
    background-color: #E07A5F;
    color: #F4F1DE;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #3D405B;
    font-weight: 600;
}

.richarinput[type="text"], .richarinput[type="email"], .richarinput2 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #3D405B;
    background-color: #F4F1DE;
    color: #3D405B;
    font-size: 16px;
    border-radius: 5px;
    transition: border 0.3s;
}

.richarinput[type="text"]:focus, .richarinput[type="email"]:focus, .richarinput2:focus {
    border: 1px solid #E07A5F;
}

.richarinput[type="submit"] {
    padding: 10px 20px;
    background-color: #3D405B;
    color: #F4F1DE;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.richarinput[type="submit"]:hover {
    background-color: #E07A5F;
}
.opinionesF{
    width: 100%;
}

#openMale{
width: 3%;
border-radius: 50%;
position: fixed;
margin-left: 5px;
margin-bottom: 10px;
margin-top: 10%;
background-color:#F2CC8F;
border-color:#E07A5F;
}
#openMale:hover{
    background: #E07A5F;
}

.comentariosM{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

.popUpMale{
    position: fixed;
    background-color: #F4F1DE;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px 0px #ccc;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.EntradaMale + span {
    padding-right: 10px;
  }
.EntradaMale:invalid + span:after {
    position: absolute;
    content: "✖";
    padding-left: 3px;
    margin-left: 3%;
    
  }
.EntradaMale:valid + span:after {
    position: absolute;
    content: "✓";
    padding-left: 3px;
    margin-left: 3%;

  }
.Reseña{
    margin-top: 10%;
}

.perroygato{
    width: 30%;
    margin-left: 50% ;
    margin-top: 8%;
    position: absolute;
}
.cerrarMale{
    width: 10%;
    margin-left: 60%;
    background-color:#F2CC8F;
    border-color:#E07A5F;
    border-radius: 20%;
    position: fixed;
    
}
.xMale{
    width: 40%;

}
.EnviarMale{
    background-color:#F2CC8F;
    border-color:#E07A5F;
    border-radius: 20%

}
.EnviarMale:hover{
    background: #E07A5F;
}
.cerrarMale:hover{
    background: #E07A5F;
    

}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F4F1DE;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 80%;
    max-width: 500px;
    border: 2px solid #3D405B;
    border-radius: 10px;

}

.close {
    float: right;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #E07A5F;
    background-color: #3D405B;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transition: background-color 0.3s;
}

.close:hover {
    background-color: #E07A5F;
    color: #F4F1DE;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #3D405B;
    font-weight: 600;
}


