.mi-footer {
    background-image: url('footer.png');
    background-size: cover;  /* Esto hará que la imagen cubra todo el espacio del footer */
    background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
    background-position: center center; /* Esto centrará la imagen en el footer */
    background-color: black;
    height: 40vh;
    
}

.mi-footer p{
    text-align: center;
    color:white ;    
    padding-top: 20vh;
}

main{
    height: 80vh;
}

main article{
    display: inline-block;
    text-align: center;

}

.contenedor{
    margin: 5px;
    padding:30px ;
    text-align: center;
}

.perro{
    border: 3px solid black;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    margin-right: 30px;
    font-size: 15px;
}

.gato{
    border: 3px solid black;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    margin-left: 30px;
    font-size: 15px;
}