.mi-nav { 
    background-color: #3D405B;
    padding: 10px 0;}

#body-content-container {
    background-color: #d5b93f;
    position: relative;
    bottom: -15px;  /* change 300px to -15px */
    }
header{
    height: 10vh;
}

main{
    height: 70vh;
}


.mi-footer {
    height: 20vh;
    /*height: 60vh;*/
    background-image: url('img/footer.png');
    background-size: cover;
    /* Esto hará que la imagen cubra todo el espacio del footer */
    background-repeat: no-repeat;
    /* Esto evitará que la imagen se repita */
    background-position: center center;
    /* Esto centrará la imagen en el footer */
    background-color:#E07A5F;
   
}

.mi-footer p {
    text-align: center;
    font-size: 30px;
    color:white;
    padding-top:20px;
    margin: 0;
       
}

.foot_nav {
    text-align: center;
    /* Centra los botones en la sección */    
    margin: 15px;    
    /* Agrega un poco de espacio alrededor de la sección */
}

.social-btn {

    display: inline-block;
    /* Hace que los botones estén en línea */
    margin: 0 10px;
    /* Espacio entre los botones */
    background-color: #3D405B;
    /* Color de fondo del botón */
    color: #fff;
    /* Color del ícono */
    padding: 10px 15px;
    /* Espacio alrededor del ícono */
    border-radius: 50%;
    /* Hace que el botón sea redondo */
    text-decoration: none;
    font-weight: bold;
    padding-left: 80px;
     /* Elimina el subrayado del enlace */
     font-size: 20px;
     /* Tamaño del ícono */
     transition: background-color 0.3s;
     /* Efecto de transición al pasar el mouse */
}
.mi-nav a:hover {
      
        color: #E07A5F;
        cursor: pointer;
    
}
.img-01 {
    padding left: 10px;
    width: 25px;
    height: 25px; 
}
.img-02 {
    padding-left: 11px;
    width: 25px;
    height: 25px;

}
.img-03 {
    padding-left: 10px;
    width: 25px;
    height: 25px;
    
}
.img-04 {
    padding-left: 10px;
    width:  25px;
    height: 25px;
    
   

}

.social-btn:hover {
    background-color: #555;
    /* Cambia el color de fondo al pasar el mouse */
}
